## Questions about 3
- Inconsistent qualtrics names from same questions (3a, 3b) eg. q124 is q24 in 3a vs. 3b
- Different amount of columns
- Inconsistency between csv and excel
3b
- is there a csv of "Working STATA files/S19 BR Coaching Video Assignments_Cleaned.dta" and Spring2019_Tracker / where is this located as dta?

3c
- Coder id's not consistent between files (e.g Rebekah is 8 and then Arielle is 8 in different file)

In [1]:
import pandas as pd
import numpy as np
from utils import cleanColumns,generateScoreVariables,generateBehaviorColumns,generateCalculatedColumns

In [2]:
data = pd.read_excel("../data/Summer 2018 Behavioral Redirections Baseline.xlsx",sheet_name='Summer 2018 Behavioral Redirect',skiprows=[1,2])
data.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q4#7_1_1,Q4#7_2_1,Q4#7_3_1,Q4#7_4_1,Q4#7_5_1,Q4#7_6_1,Q5,Q6,Q7,Q8
0,2018-08-05 11:52:20,2018-08-05 12:08:22,IP Address,73.12.28.114,100,962,True,2018-08-05 12:08:22,R_1DG1LFyukbYExE4,NaN,...,31,38,NaN,54,43.0,20.0,Slightly annoyed,Some hand wringing. Some eyebrow raising and e...,2,Note: order of whispering and beatboxing behav...
1,2018-08-05 12:28:36,2018-08-05 12:30:57,IP Address,73.12.28.114,100,141,True,2018-08-05 12:30:57,R_zbNDFbpkHNBY653,NaN,...,21,34,55.0,4,45.0,NaN,Flustered,Nervous laughter. Moving body a lot. Tone of v...,3,NaN
2,2018-08-05 12:50:12,2018-08-05 12:55:15,IP Address,73.12.28.114,100,302,True,2018-08-05 12:55:15,R_1LSRL5gAU8hCSjT,NaN,...,22,44,47.0,22,6.0,6.0,Mostly calm,Does not raise voice. Relaxed body movements. ...,6,NaN
3,2018-08-05 13:06:06,2018-08-05 13:10:16,IP Address,73.12.28.114,100,250,True,2018-08-05 13:10:17,R_21aEOkZyCCNB3UR,NaN,...,29,14,13.0,5,12.0,29.0,calm,relaxed body movements. does not raise voice. ...,7,NaN
4,2018-08-05 13:23:56,2018-08-05 13:26:11,IP Address,73.12.28.114,100,134,True,2018-08-05 13:26:11,R_1kZgh53W7n6CUOi,NaN,...,54,29,39.0,47,12.0,15.0,Mix of calm and nervous,Some nervous laughter. Tone of voice is approp...,4,NaN

In [3]:
data = data.iloc[:,2:]
data.columns = cleanColumns(data.columns)
data['sid']=2
data['time']=0
data['vid'] = data['id'].astype(str) + "_" + data['sid'].astype(str)

In [4]:
generateScoreVariables(data)

In [5]:
generateBehaviorColumns(data)

In [6]:
generateCalculatedColumns(data)

1
2
['tot_ac', 'tot_oc']
2
['tot_ti', 'tot_ac']
2
['tot_sp', 'tot_ac']
2
['tot_su', 'tot_ac']

In [7]:
data.head()

,status,ipaddress,progress,duration (in seconds),finished,recordeddate,responseid,recipientlastname,recipientfirstname,recipientemail,...,tot_cu,tot_nb,tot_se,tot_ti,tot_su,score_dc_avg,prop_beh_ack,ti_dc_avg,prop_redirect,su_dc_avg
0,IP Address,73.12.28.114,100,962,True,2018-08-05 12:08:22,R_1DG1LFyukbYExE4,NaN,NaN,NaN,...,5.0,4,1,54.0,186.0,2,0.833333,10.800000,0.000000,37.200000
1,IP Address,73.12.28.114,100,141,True,2018-08-05 12:30:57,R_zbNDFbpkHNBY653,NaN,NaN,NaN,...,4.0,4,0,66.0,159.0,3,0.833333,13.200000,0.200000,31.800000
2,IP Address,73.12.28.114,100,302,True,2018-08-05 12:55:15,R_1LSRL5gAU8hCSjT,NaN,NaN,NaN,...,1.0,1,0,60.0,147.0,6,1.000000,10.000000,0.833333,24.500000
3,IP Address,73.12.28.114,100,250,True,2018-08-05 13:10:17,R_21aEOkZyCCNB3UR,NaN,NaN,NaN,...,1.0,0,1,29.0,102.0,7,1.000000,4.833333,1.000000,17.000000
4,IP Address,73.12.28.114,100,134,True,2018-08-05 13:26:11,R_1kZgh53W7n6CUOi,NaN,NaN,NaN,...,4.0,3,1,49.0,196.0,4,1.000000,8.166667,0.333333,32.666667

In [9]:
data.columns

Index(['status', 'ipaddress', 'progress', 'duration (in seconds)', 'finished',
       'recordeddate', 'responseid', 'recipientlastname', 'recipientfirstname',
       'recipientemail', 'externalreference', 'locationlatitude',
       'locationlongitude', 'distributionchannel', 'userlanguage', 'cid', 'id',
       'b1oc', 'b2oc', 'b3oc', 'b4oc', 'b5oc', 'b6oc', 'b1ac', 'b2ac', 'b3ac',
       'b4ac', 'b5ac', 'b6ac', 'b1ti', 'b2ti', 'b3ti', 'b4ti', 'b5ti', 'b6ti',
       'b1sp', 'b2sp', 'b3sp', 'b4sp', 'b5sp', 'b6sp', 'b1cu', 'b2cu', 'b3cu',
       'b4cu', 'b5cu', 'b6cu', 'b1re', 'b2re', 'b3re', 'b4re', 'b5re', 'b6re',
       'b1su', 'b2su', 'b3su', 'b4su', 'b5su', 'b6su', 'affect', 'descript',
       'score', 'rationale', 'sid', 'vid', 'tot_oc', 'tot_ac', 'tot_sp',
       'tot_cu', 'tot_nb', 'tot_se', 'tot_ti', 'tot_su', 'score_dc_avg',
       'prop_beh_ack', 'ti_dc_avg', 'prop_redirect', 'su_dc_avg', 'time'],
      dtype='object')

In [17]:
data2.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName',
       ...
       'Q22#7_1_1', 'Q22#7_2_1', 'Q22#7_3_1', 'Q22#7_4_1', 'Q22#7_5_1',
       'Q22#7_6_1', 'Q23', 'Q24', 'Q25.1', 'Q26'],
      dtype='object', length=162)

In [16]:
data.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q2', 'Q3', 'Q4#1_1', 'Q4#1_2',
       'Q4#1_3', 'Q4#1_4', 'Q4#1_5', 'Q4#1_6', 'Q4#2_1', 'Q4#2_2', 'Q4#2_3',
       'Q4#2_4', 'Q4#2_5', 'Q4#2_6', 'Q4#3_1_1', 'Q4#3_2_1', 'Q4#3_3_1',
       'Q4#3_4_1', 'Q4#3_5_1', 'Q4#3_6_1', 'Q4#4_1', 'Q4#4_2', 'Q4#4_3',
       'Q4#4_4', 'Q4#4_5', 'Q4#4_6', 'Q4#5_1', 'Q4#5_2', 'Q4#5_3', 'Q4#5_4',
       'Q4#5_5', 'Q4#5_6', 'Q4#6_1', 'Q4#6_2', 'Q4#6_3', 'Q4#6_4', 'Q4#6_5',
       'Q4#6_6', 'Q4#7_1_1', 'Q4#7_2_1', 'Q4#7_3_1', 'Q4#7_4_1', 'Q4#7_5_1',
       'Q4#7_6_1', 'Q5', 'Q6', 'Q7', 'Q8'],
      dtype='object')

In [9]:
data = pd.read_excel("../data/Spring2019_BR_CodedPerformanceOutcomes.xlsx",sheet_name='Sheet1',skiprows=[1,2])

In [10]:
data = data.iloc[:,2:]
data.columns = cleanColumns(data.columns)
data['sid']=2
data['time']=0
data['vid'] = data['id'].astype(str) + "_" + data['sid'].astype(str)
generateScoreVariables(data)
generateBehaviorColumns(data)
generateCalculatedColumns(data)