# Generate Database

This notebook serves to create the tables in the database for the TeachSim project.

In [1]:
import pandas as pd
import numpy as np

## Connect to the Database

In [2]:
import mysql.connector

In [3]:
endpoint = "seratestdatabase.c4cjk1vto1om.us-east-2.rds.amazonaws.com"
port = "3306"
usr = "admin"
pswd = "seracapstone"
region = "us-east-2b"
dbname = "teachsim"

In [4]:
cnx = mysql.connector.connect(user=usr, password=pswd, host=endpoint, database=dbname)

In [5]:
cursor = cnx.cursor(buffered=True)

## Read in Data

In [6]:
import os
os.getcwd()

'/Users/jmachita03/Documents/GitHub/MSDS_SERA_capstone/RDS'

In [7]:
# os.chdir("/Users/jmachita03/Desktop/Capstone/RDS Set Up")

### Identifiers

In [9]:
identifiers = pd.read_excel("TeachSIM Data Dictionary.xlsx", sheet_name="Identifiers")

In [10]:
identifiers = identifiers.drop(labels=3, axis=0)

In [12]:
identifiers

,Variable,Description,Values,Units,Constraints,Type,Previous name
0,br_treat_cond,Primary treatment condition for the behavioral...,0 No coaching (self-reflection); 1 Coaching,NaN,"Treatment may vary across years. For 1718, the...",NaN,NaN
1,br_treat_cond_mr,Mental Rehearsal treatment condition for the b...,\n0 = No mental rehearsal; 1 = Mental rehearsal,NaN,Treatment varies across years. Not available 1...,NaN,NaN
2,br_treat_cond_iat,IAT treatment condition for the behavioral red...,0 = White Ethan; 1 = Black Ethan,NaN,Treatment varies across years. Not available 1...,NaN,NaN
4,fb_treat_cond,Primary treatment condition for the feedback (...,\n0 = No coaching (self-reflection); 1 = Coaching,NaN,Treatment may vary across years.,NaN,NaN
5,f17_treat_cond,Original Treatment condition for Fall 2017,1 = Control; 2= Coaching; 3 = Bug in Ear,NaN,NaN,NaN,NaN
6,s18_treat_cond,Original Treatment condition for Spring 2018,1 = Control; 2= Coaching; 3 = Bug in Ear,NaN,NaN,NaN,NaN
7,fb_treat_cond_iat,IAT treatment condition for the feedback (text...,0 = White Ethan; 1 = Black Ethan,NaN,Treatment varies across years. Not available 1...,NaN,NaN
8,id_participant,Unique participant id composed of concatenated...,NaN,NaN,NaN,NaN,NaN
9,id_section,Section identifier,1 Secondary; 2 Elementary 1; 3 Tueday Elementa...,NaN,"For 2017-2020, Elementary 1 is Monday and Elem...",NaN,NaN
10,id_site,Site identifier,1 UVA,NaN,NaN,NaN,NaN
11,id_study,Study identifier,1 Fall 2017; 2 Spring 2018; 3 Fall 2018; 4 Spr...,NaN,In long dataset only,NaN,NaN
12,id_year,Year identifier,1718; 1819; 1920,NaN,This represents the academic year that the par...,NaN,NaN

### Participant Measures

In [13]:
participant = pd.read_excel("TeachSIM Data Dictionary.xlsx", sheet_name="Participant Measures")

In [14]:
participant = participant.drop(labels=0, axis=0)

In [16]:
participant

,Variable,Description,Values,Units,Constraints,Type,Previous name
1,ccs_cohort,Common Core Survey Measure: year the participa...,NaN,Year,NaN,Year,NaN
2,ccs_stutype,Common Core Survey Measure: Desired Endorsement,1 – Non Curry Student; 2 – Curry Licensure onl...,NaN,NaN,Numeric,NaN
3,ccs_major,Common Core Survey Measure: Degree Major,1 – English; 2 – Sociology; 3 – Mathematics; 4...,NaN,NaN,NaN,NaN
4,ccs_majother,Common Core Survey Measure: Degree Major Text ...,NaN,NaN,NaN,String,NaN
5,ccs_gpa,Common Core Survey Measure: Grade point averag...,NaN,NaN,NaN,Numeric,NaN
...,...,...,...,...,...,...,...
241,crtse_33,A component of the Culturally Responsive Teach...,Participants enter a number between 0 and 100....,Likert,NaN,Numeric,div_*
242,crtse_35,A component of the Culturally Responsive Teach...,Participants enter a number between 0 and 100....,Likert,NaN,Numeric,div_*
243,crtse_36,A component of the Culturally Responsive Teach...,Participants enter a number between 0 and 100....,Likert,NaN,Numeric,div_*
244,crtse_41,A component of the Culturally Responsive Teach...,Participants enter a number between 0 and 100....,Likert,NaN,Numeric,div_*
245,crtse_total,Culturally Responsive Teaching Self-Efficacy S...,The average of all components,Average,NaN,Numeric,div_*

### Survey Measures

In [17]:
survey = pd.read_excel("TeachSIM Data Dictionary.xlsx", sheet_name="Survey Measures")

In [18]:
survey["Values"] = survey["Values"].fillna("Missing")

In [21]:
survey

,Variable,Description,Values,Units,Constraints,Type,Previous name
0,base_app_dev_adjust,How likely the participant would be to adjust ...,"1- extremely unlikely, 10- extremely likely",Likert,These responses are based on the participant's...,Numeric,NaN
1,base_app_dev_challenge,How likely the participant would be to provide...,"1- extremely unlikely, 10- extremely likely",Likert,These responses are based on the participant's...,Numeric,NaN
2,base_app_dev_coach,How likely the participant would be to coach o...,"1- extremely unlikely, 10- extremely likely",Likert,These responses are based on the participant's...,Numeric,NaN
3,base_app_dev_counselor,How likely the participant would be to refer t...,"1- extremely unlikely, 10- extremely likely",Likert,These responses are based on the participant's...,Numeric,NaN
4,base_app_dev_discuss,How likely the participant would be to discuss...,"1- extremely unlikely, 10- extremely likely",Likert,These responses are based on the participant's...,Numeric,NaN
...,...,...,...,...,...,...,...
497,haber_survive_in_bureaucracy,likelihood that the respondent will be able to...,1 Low; 2 Average; 3 High,NaN,"Not available 1819, 1920",Numeric,NaN
498,haber_testdate,Haberman Star Teacher Prescreener test date,Missing,NaN,"Not available 1819, 1920",Date,NaN
499,haber_theory_to_practice,Respondent's ability to see the practical impl...,1 Low; 2 Average; 3 High,NaN,"Not available 1819, 1920",Numeric,NaN
500,haber_total,Haberman Star Teacher Prescreener total score,0-50,NaN,"Not available 1819, 1920",Numeric,NaN
501,haber_values_students_learning,Degree to which the responses reflect a willin...,1 Low; 2 Average; 3 High,NaN,"Not available 1819, 1920",Numeric,NaN

### Performance Measures

In [22]:
performance = pd.read_excel("TeachSIM Data Dictionary.xlsx", sheet_name="Performance Measures")

In [23]:
descriptions = ["Behavior 1 reason for cut off", "Behavior 2 reason for cut off", \
                    "Behavior 3 reason for cut off", "Behavior 4 reason for cut off", \
                    "Behavior 5 reason for cut off", "Behavior 6 reason for cut off", \
                    "Description of teacher candidate's behavior; if double coded, this is the first populated response.", \
                    "Rational for quality score", "Rational for scoring", "Coder id", "Second coder id for double coded sessions"]

In [25]:
performance

,Variable,Description,Values,Units,Constraints,Type,Previous name
0,br_base_affect,Teacher candidate's affect,NaN,NaN,Not available 1718,NaN,NaN
1,br_base_b1ac,"Behavior 1 acknowledged; if double coded, this...",NaN,NaN,Not available 1718,NaN,NaN
2,br_base_b1ac_agree,Coders agree that behavior 1 was achknowledged,NaN,NaN,Not available 1718,NaN,NaN
3,br_base_b1cu,"Behavior 1 cut off; if double coded, this valu...",NaN,NaN,Not available 1718,NaN,NaN
4,br_base_b1cu_agree,Coders agree that behavior 1 was cut off,NaN,NaN,Not available 1718,NaN,NaN
...,...,...,...,...,...,...,...
529,fb_pre_tot_hit,Total feedback prompt hits,NaN,NaN,NaN,NaN,NaN
530,fb_pre_tot_hit_agree,Coders agree on Total feedback prompt hits; if...,NaN,NaN,NaN,NaN,NaN
531,fb_pre_tot_oc,Total feedback prompt occurences,NaN,NaN,Not available 1718,NaN,NaN
532,fb_pre_tot_oc_agree,Coders agree on Total feedback prompt occurenc...,NaN,NaN,Not available 1718,NaN,NaN
533,fb_pre_vid,NaN,NaN,NaN,NaN,NaN,NaN

## Functions

In [8]:
def createTableQuery(all_column_list, char_col_list, tableName, primaryKeys):
    query = "CREATE TABLE " + tableName + " ("
    for col in all_column_list:
        if col in char_col_list:
            query = query + col + " varchar(100), "
        else:
            query = query + col + " float, "
    for key in primaryKeys:
        query = query + " PRIMARY KEY (" + key + "), "
    query = query[:-2] + " );"
    return query

In [36]:
def createTableQuery2(all_column_list, char_col_list, big_char_list, tableName, primaryKeys):
    query = "CREATE TABLE " + tableName + " ("
    for col in all_column_list:
        if col in big_char_list:
            query = query + col + " varchar(10000), "
        elif col in char_col_list:
            query = query + col + " varchar(100), "
        else:
            query = query + col + " float, "
    for key in primaryKeys:
        query = query + " PRIMARY KEY (" + key + "), "
    query = query[:-2] + " );"
    return query

In [9]:
def showTable(tableName, cursor):
    query = "SELECT * FROM " + tableName + ";"
    cursor.execute(query)
    result = cursor.fetchall()
    colnames = [x[0] for x in cursor.description]
    df = pd.DataFrame(result, columns=colnames)
    return df

## Drop Tables

Execute this query to recreate the empty tables if needed for demonstartion or testing purposes.

In [69]:
cursor.execute("DROP TABLE IF EXISTS Identifiers, Participant_Measures, Survey_Measures, Performance_Measures;")

## Delete Data from Tables without Dropping

In [10]:
tables = ['Identifiers', 'Participant_Measures', 'Survey_Measures', 'Performance_Measures']

In [ ]:
for table in tables:
    query = "DELETE FROM " + table + ";"
    cursor.execute(query)

## Create and Execute Queries

### Identifiers

In [71]:
ids_column_list = list(identifiers['Variable'])

In [72]:
identifiers_char = ["id_site", "id_participant"]

In [73]:
id_query = createTableQuery(ids_column_list, identifiers_char, "Identifiers", ["id_participant"])

In [74]:
id_query

'CREATE TABLE Identifiers (br_treat_cond float, br_treat_cond_mr float, br_treat_cond_iat float, fb_treat_cond float, f17_treat_cond float, s18_treat_cond float, fb_treat_cond_iat float, id_participant varchar(100), id_section float, id_site varchar(100), id_study float, id_year float,  PRIMARY KEY (id_participant) );'

In [75]:
cursor.execute(id_query)

### Participant Measures

In [76]:
part_column_list = ["id_participant"] + list(participant['Variable'])

In [77]:
participant_char = ["id_participant", "ccs_cohort", "ccs_major", "ccs_gpa", "raceother", "holangother", "hstypeother", "program"]

In [78]:
part_query = createTableQuery(part_column_list, participant_char, "Participant_Measures", ["id_participant"])

In [79]:
part_query

'CREATE TABLE Participant_Measures (id_participant varchar(100), ccs_cohort varchar(100), ccs_stutype float, ccs_major varchar(100), ccs_majother float, ccs_gpa varchar(100), partch float, moedu float, faedu float, gender float, age float, race float, raceother varchar(100), holang float, holangother varchar(100), hstype float, hstypeother varchar(100), hsloc float, hsses float, hsrace float, hsach float, fustuses float, fusturace float, fustuach float, futeases float, futearace float, futeaach float, program varchar(100), neo_02 float, neo_04 float, neo_05 float, neo_06 float, neo_07 float, neo_10 float, neo_11 float, neo_13 float, neo_17 float, neo_19 float, neo_20 float, neo_21 float, neo_22 float, neo_25 float, neo_26 float, neo_28 float, neo_32 float, neo_34 float, neo_35 float, neo_36 float, neo_37 float, neo_40 float, neo_41 float, neo_43 float, neo_47 float, neo_49 float, neo_50 float, neo_51 float, neo_52 float, neo_53 float, neo_56 float, neo_58 float, neo_60 float, r_neo_01 float, r_neo_03 float, r_neo_08 float, r_neo_09 float, r_neo_12 float, r_neo_14 float, r_neo_15 float, r_neo_16 float, r_neo_18 float, r_neo_23 float, r_neo_24 float, r_neo_27 float, r_neo_29 float, r_neo_30 float, r_neo_31 float, r_neo_33 float, r_neo_38 float, r_neo_39 float, r_neo_42 float, r_neo_44 float, r_neo_45 float, r_neo_46 float, r_neo_48 float, r_neo_54 float, r_neo_55 float, r_neo_57 float, r_neo_59 float, neo_n float, neo_e float, neo_o float, neo_a float, neo_c float, tse_03 float, tse_04 float, tse_15 float, tse_09 float, tse_11 float, tse_13 float, tse_06 float, tse_16 float, tse_18 float, tse_20 float, tse_22 float, tse_23 float, tse_01 float, tse_02 float, tse_05 float, tse_07 float, tse_08 float, tse_10 float, tse_12 float, tse_14 float, tse_17 float, tse_19 float, tse_21 float, tse_24 float, tse_se float, tse_is float, tse_cm float, tse_total float, das_01 float, das_02 float, das_03 float, das_04 float, das_05 float, das_06 float, das_07 float, das_08 float, das_09 float, das_10 float, das_11 float, das_12 float, das_13 float, das_14 float, das_15 float, das_16 float, das_17 float, das_18 float, das_19 float, das_20 float, das_21 float, das_depression float, das_anxiety float, das_stress float, fit_01 float, fit_04 float, fit_05 float, fit_06 float, fit_07 float, fit_08 float, fit_09 float, fit_10 float, fit_11 float, fit_12 float, fit_13 float, fit_total float, ytrt_01 float, ytrt_02 float, ytrt_03 float, ytrt_04 float, ytrt_05 float, ytrt_total float, tmas_01 float, tmas_02 float, tmas_04 float, tmas_07 float, tmas_10 float, tmas_11 float, tmas_13 float, tmas_14 float, tmas_17 float, tmas_18 float, r_tmas_03 float, r_tmas_06 float, r_tmas_12 float, r_tmas_15 float, r_tmas_16 float, r_tmas_19 float, r_tmas_20 float, tmas_total float, imts_01 float, imts_02 float, imts_03 float, imts_04 float, imts_05 float, imts_total float, rsq_03 float, rsq_10 float, rsq_27 float, rsq_30 float, r_rsq_01 float, r_rsq_05 float, r_rsq_07 float, r_rsq_11 float, r_rsq_12 float, r_rsq_13 float, r_rsq_17 float, r_rsq_20 float, r_rsq_21 float, r_rsq_23 float, r_rsq_24 float, r_rsq_28 float, r_rsq_29 float, rsq_total float, grit_01 float, grit_04 float, grit_06 float, grit_09 float, grit_10 float, grit_12 float, r_grit_02 float, r_grit_03 float, r_grit_05 float, r_grit_07 float, r_grit_08 float, r_grit_11 float, grit_total float, crtse_05 float, crtse_06 float, crtse_07 float, crtse_08 float, crtse_09 float, crtse_10 float, crtse_12 float, crtse_13 float, crtse_14 float, crtse_15 float, crtse_16 float, crtse_17 float, crtse_18 float, crtse_19 float, crtse_20 float, crtse_22 float, crtse_23 float, crtse_24 float, crtse_25 float, crtse_27 float, crtse_28 float, crtse_30 float, crtse_31 float, crtse_33 float, crtse_35 float, crtse_36 float, crtse_41 float, crtse_total float,  PRIMARY KEY (id_participant) );'

In [80]:
cursor.execute(part_query)

### Survey Measures

In [81]:
surv_column_list = ["id_participant"] + list(survey['Variable'])

In [82]:
survey_char = list(survey[survey["Values"] == "Missing"]["Variable"]) + ["id_participant"]

In [83]:
survey_char = survey_char + ["fb_post_sim_first_sort_did", "fb_post_sim_first_sort_didnt", "fb_post_sim_sec_sort_did", "fb_post_sim_sec_sort_didnt"]

In [84]:
surv_query = createTableQuery(surv_column_list, survey_char, "Survey_Measures", ["id_participant"])

In [85]:
surv_query

'CREATE TABLE Survey_Measures (id_participant varchar(100), base_app_dev_adjust float, base_app_dev_challenge float, base_app_dev_coach float, base_app_dev_counselor float, base_app_dev_discuss float, base_app_dev_parconf float, base_app_dev_plan float, base_app_dev_referral float, base_app_dev_request float, base_app_dev_space float, base_app_dev_sped float, base_app_dev_spend_time float, base_app_dev_studconf float, base_app_eth_adjust float, base_app_eth_challenge float, base_app_eth_coach float, base_app_eth_counselor float, base_app_eth_discuss float, base_app_eth_parconf float, base_app_eth_plan float, base_app_eth_referral float, base_app_eth_request float, base_app_eth_space float, base_app_eth_sped float, base_app_eth_spend_time float, base_app_eth_studconf float, base_beh_dev_attention float, base_beh_dev_behavior varchar(100), base_beh_dev_contribute varchar(100), base_beh_dev_defiant float, base_beh_dev_demand float, base_beh_dev_distracted float, base_beh_dev_disturb float, base_beh_dev_excitable float, base_beh_dev_fidget float, base_beh_dev_hum float, base_beh_dev_mood float, base_beh_dev_quarrel float, base_beh_dev_rating float, base_beh_dev_rating_impulsive float, base_beh_dev_rating_opdefiant float, base_beh_dev_restless float, base_beh_dev_smart float, base_beh_dev_temper float, base_beh_dev_uncoop float, base_beh_eth_attention float, base_beh_eth_behavior varchar(100), base_beh_eth_contribute varchar(100), base_beh_eth_defiant float, base_beh_eth_demand float, base_beh_eth_distracted float, base_beh_eth_disturb float, base_beh_eth_excitable float, base_beh_eth_fidget float, base_beh_eth_hum float, base_beh_eth_mood float, base_beh_eth_quarrel float, base_beh_eth_rating float, base_beh_eth_rating_impulsive float, base_beh_eth_rating_opdefiant float, base_beh_eth_restless float, base_beh_eth_smart float, base_beh_eth_temper float, base_beh_eth_uncoop float, base_enddate varchar(100), base_manage_app_dev_negative float, base_manage_app_dev_positive float, base_manage_app_dev_punitive float, base_manage_app_eth_negative float, base_manage_app_eth_positive float, base_manage_app_eth_punitive float, base_sim_beneficial float, base_sim_cmsk float, base_sim_conf float, base_sim_conf_authentic float, base_sim_conf_different varchar(100), base_sim_conf_rapport float, base_sim_enough_time float, base_sim_fbsk float, base_sim_fbsk_prepare varchar(100), base_sim_fbsk_support varchar(100), base_sim_like_use_again float, base_sim_nervous float, base_sim_recommend float, base_sim_relevant_prof float, base_sim_relevant_studies float, base_sim_sufficient_prep float, base_sim_txt_beneficial varchar(100), base_sim_txt_cmsk varchar(100), base_sim_txt_concerns varchar(100), base_sim_txt_conf varchar(100), base_sim_txt_conf_authentic varchar(100), base_sim_txt_conf_rapport varchar(100), base_sim_txt_fbsk varchar(100), base_sim_txt_improve_exp varchar(100), base_sim_txt_supports varchar(100), base_sim_useful_tool float, base_sim_worried_perform float, base_startdate varchar(100), big5_ag_1 float, big5_ag_1_r float, big5_ag_10 float, big5_ag_2 float, big5_ag_3 float, big5_ag_3_r float, big5_ag_4 float, big5_ag_5 float, big5_ag_5_r float, big5_ag_6 float, big5_ag_7 float, big5_ag_7_r float, big5_ag_8 float, big5_ag_9 float, big5_ag_total float, big5_con_1 float, big5_con_10 float, big5_con_2 float, big5_con_2_r float, big5_con_3 float, big5_con_4 float, big5_con_4_r float, big5_con_5 float, big5_con_6 float, big5_con_6_r float, big5_con_7 float, big5_con_8 float, big5_con_8_r float, big5_con_9 float, big5_con_total float, big5_emo_1 float, big5_emo_1_r float, big5_emo_10 float, big5_emo_10_r float, big5_emo_2 float, big5_emo_3 float, big5_emo_3_r float, big5_emo_4 float, big5_emo_5 float, big5_emo_5_r float, big5_emo_6 float, big5_emo_6_r float, big5_emo_7 float, big5_emo_7_r float, big5_emo_8 float, big5_emo_8_r float, big5_emo_9 float, big5_emo_9_r float, big5_emo_total float, big5_enddate varchar(100), big5_ext_1 float, big5_ext_10 float, big5_ext_10_r float, big5_ext_2 float, big5_ext_2_r float, big5_ext_3 float, big5_ext_4 float, big5_ext_4_r float, big5_ext_5 float, big5_ext_6 float, big5_ext_6_r float, big5_ext_7 float, big5_ext_8 float, big5_ext_8_r float, big5_ext_9 float, big5_ext_total float, big5_intell_1 float, big5_intell_10 float, big5_intell_2 float, big5_intell_2_r float, big5_intell_3 float, big5_intell_4 float, big5_intell_4_r float, big5_intell_5 float, big5_intell_6 float, big5_intell_6_r float, big5_intell_7 float, big5_intell_8 float, big5_intell_9 float, big5_intell_total float, br_post_app_dev_adjust float, br_post_app_dev_challenge float, br_post_app_dev_coach float, br_post_app_dev_counselor float, br_post_app_dev_discuss float, br_post_app_dev_parconf float, br_post_app_dev_plan float, br_post_app_dev_referral float, br_post_app_dev_request float, br_post_app_dev_space float, br_post_app_dev_sped float, br_post_app_dev_spend_time float, br_post_app_dev_studconf float, br_post_app_eth_adjust float, br_post_app_eth_challenge float, br_post_app_eth_coach float, br_post_app_eth_counselor float, br_post_app_eth_discuss float, br_post_app_eth_parconf float, br_post_app_eth_plan float, br_post_app_eth_referral float, br_post_app_eth_request float, br_post_app_eth_space float, br_post_app_eth_sped float, br_post_app_eth_spend_time float, br_post_app_eth_studconf float, br_post_beh_desire_other_text varchar(100), br_post_beh_dev_attention float, br_post_beh_dev_behavior varchar(100), br_post_beh_dev_contribute varchar(100), br_post_beh_dev_defiant float, br_post_beh_dev_demand float, br_post_beh_dev_distracted float, br_post_beh_dev_disturb float, br_post_beh_dev_excitable float, br_post_beh_dev_fidget float, br_post_beh_dev_hum float, br_post_beh_dev_mood float, br_post_beh_dev_quarrel float, br_post_beh_dev_rating float, br_post_beh_dev_rating_impulsive float, br_post_beh_dev_rating_opdefiant float, br_post_beh_dev_restless float, br_post_beh_dev_smart float, br_post_beh_dev_temper float, br_post_beh_dev_uncoop float, br_post_beh_eth_attention float, br_post_beh_eth_behavior varchar(100), br_post_beh_eth_contribute varchar(100), br_post_beh_eth_defiant float, br_post_beh_eth_demand float, br_post_beh_eth_distracted float, br_post_beh_eth_disturb float, br_post_beh_eth_excitable float, br_post_beh_eth_fidget float, br_post_beh_eth_hum float, br_post_beh_eth_mood float, br_post_beh_eth_quarrel float, br_post_beh_eth_rating float, br_post_beh_eth_rating_impulsive float, br_post_beh_eth_rating_opdefiant float, br_post_beh_eth_restless float, br_post_beh_eth_smart float, br_post_beh_eth_temper float, br_post_beh_eth_uncoop float, br_post_beh_follow_quest float, br_post_beh_positive_tone float, br_post_beh_praise_app float, br_post_beh_praise_contr float, br_post_beh_redirect_inapp float, br_post_beh_redirect_quick float, br_post_beh_specific_lang float, br_post_beh_talk_min float, br_post_enddate varchar(100), br_post_manage_app_dev_negative float, br_post_manage_app_dev_positive float, br_post_manage_app_dev_punitive float, br_post_manage_app_eth_negative float, br_post_manage_app_eth_positive float, br_post_manage_app_eth_punitive float, br_post_me_post_coach float, br_post_me_pre_coach float, br_post_sim_beneficial float, br_post_sim_cmsk float, br_post_sim_enough_time float, br_post_sim_first_cmsk float, br_post_sim_like_use_again float, br_post_sim_nervous float, br_post_sim_recommend float, br_post_sim_relevant_prof float, br_post_sim_relevant_studies float, br_post_sim_sec_cmsk float, br_post_sim_sufficient_prep float, br_post_sim_txt_beneficial varchar(100), br_post_sim_txt_cmsk varchar(100), br_post_sim_txt_concerns varchar(100), br_post_sim_txt_improve_exp varchar(100), br_post_sim_txt_supports varchar(100), br_post_sim_useful_tool float, br_post_sim_worried_perform float, br_post_startdate varchar(100), br_post_tse_01 float, br_post_tse_02 float, br_post_tse_03 float, br_post_tse_04 float, br_post_tse_05 float, br_post_tse_06 float, br_post_tse_07 float, br_post_tse_08 float, br_post_tse_09 float, br_post_tse_10 float, br_post_tse_11 float, br_post_tse_12 float, br_post_tse_13 float, br_post_tse_14 float, br_post_tse_15 float, br_post_tse_16 float, br_post_tse_17 float, br_post_tse_18 float, br_post_tse_19 float, br_post_tse_20 float, br_post_tse_21 float, br_post_tse_22 float, br_post_tse_23 float, br_post_tse_24 float, br_post_tse_cm float, br_post_tse_is float, br_post_tse_overall float, br_post_tse_se float, br_pre_enddate varchar(100), br_pre_misbehavior_anticipate varchar(100), br_pre_stai_calm float, br_pre_stai_calm_rc float, br_pre_stai_content float, br_pre_stai_content_rc float, br_pre_stai_relaxed float, br_pre_stai_relaxed_rc float, br_pre_stai_tense float, br_pre_stai_total float, br_pre_stai_upset float, br_pre_stai_worried float, br_pre_startdate varchar(100), br_pre_tse_03 float, br_pre_tse_05 float, br_pre_tse_08 float, br_pre_tse_13 float, br_pre_tse_15 float, br_pre_tse_16 float, br_pre_tse_19 float, br_pre_tse_21 float, br_pre_tse_cm float, exit_app_eth_adjust float, exit_app_eth_challenge float, exit_app_eth_coach float, exit_app_eth_counselor float, exit_app_eth_discuss float, exit_app_eth_parconf float, exit_app_eth_plan float, exit_app_eth_referral float, exit_app_eth_request float, exit_app_eth_space float, exit_app_eth_sped float, exit_app_eth_spend_time float, exit_app_eth_studconf float, exit_beh_eth_attention float, exit_beh_eth_behavior varchar(100), exit_beh_eth_contribute varchar(100), exit_beh_eth_defiant float, exit_beh_eth_demand float, exit_beh_eth_distracted float, exit_beh_eth_disturb float, exit_beh_eth_excitable float, exit_beh_eth_fidget float, exit_beh_eth_hum float, exit_beh_eth_mood float, exit_beh_eth_quarrel float, exit_beh_eth_rating float, exit_beh_eth_rating_impulsive float, exit_beh_eth_rating_opdefiant float, exit_beh_eth_restless float, exit_beh_eth_smart float, exit_beh_eth_temper float, exit_beh_eth_uncoop float, exit_enddate varchar(100), exit_manage_app_eth_negative float, exit_manage_app_eth_positive float, exit_manage_app_eth_punitive float, exit_sim_beneficial float, exit_sim_cmsk float, exit_sim_enough_time float, exit_sim_fbsk float, exit_sim_like_use_again float, exit_sim_nervous float, exit_sim_recommend float, exit_sim_relevant_prof float, exit_sim_relevant_studies float, exit_sim_sufficient_prep float, exit_sim_txt_beneficial varchar(100), exit_sim_txt_cmsk varchar(100), exit_sim_txt_concerns varchar(100), exit_sim_txt_fbsk varchar(100), exit_sim_txt_improve_exp varchar(100), exit_sim_txt_supports varchar(100), exit_sim_useful_tool float, exit_sim_worried_perform float, exit_startdate varchar(100), fb_post_coach_beneficial float, fb_post_coach_clear float, fb_post_coach_expertise float, fb_post_coach_friendly float, fb_post_coach_support float, fb_post_coaching varchar(100), fb_post_enddate varchar(100), fb_post_me_post_coach float, fb_post_me_pre_coach float, fb_post_sim_beneficial float, fb_post_sim_coach_recommend float, fb_post_sim_coach_use_again float, fb_post_sim_enough_time float, fb_post_sim_first_fbsk float, fb_post_sim_first_sort_did varchar(100), fb_post_sim_first_sort_did_oth varchar(100), fb_post_sim_first_sort_didnt varchar(100), fb_post_sim_first_sort_didnt_oth varchar(100), fb_post_sim_first_txt_fbsk varchar(100), fb_post_sim_like_use_again float, fb_post_sim_nervous float, fb_post_sim_prepare_differently varchar(100), fb_post_sim_recommend float, fb_post_sim_relevant_prof float, fb_post_sim_relevant_studies float, fb_post_sim_sec_fbsk float, fb_post_sim_sec_sort_did varchar(100), fb_post_sim_sec_sort_did_oth varchar(100), fb_post_sim_sec_sort_didnt varchar(100), fb_post_sim_sec_sort_didnt_oth varchar(100), fb_post_sim_sec_txt_fbsk varchar(100), fb_post_sim_sr_recommend float, fb_post_sim_sr_use_again float, fb_post_sim_sufficient_prep float, fb_post_sim_support varchar(100), fb_post_sim_teach_change float, fb_post_sim_teach_change_rate varchar(100), fb_post_sim_txt_beneficial varchar(100), fb_post_sim_txt_concerns varchar(100), fb_post_sim_txt_improve_exp varchar(100), fb_post_sim_used_before varchar(100), fb_post_sim_useful_tool float, fb_post_sim_worried_perform float, fb_post_sr_clear float, fb_post_sr_knowledge_skills float, fb_post_sr_practice_change float, fb_post_sr_sufficient_reflect float, fb_post_sr_support float, fb_post_srcoach_beneficial float, fb_post_srcoach_text_support varchar(100), fb_post_startdate varchar(100), fb_post_tse_01 float, fb_post_tse_02 float, fb_post_tse_03 float, fb_post_tse_04 float, fb_post_tse_05 float, fb_post_tse_06 float, fb_post_tse_07 float, fb_post_tse_08 float, fb_post_tse_09 float, fb_post_tse_10 float, fb_post_tse_11 float, fb_post_tse_12 float, fb_post_tse_13 float, fb_post_tse_14 float, fb_post_tse_15 float, fb_post_tse_16 float, fb_post_tse_17 float, fb_post_tse_18 float, fb_post_tse_19 float, fb_post_tse_20 float, fb_post_tse_21 float, fb_post_tse_22 float, fb_post_tse_23 float, fb_post_tse_24 float, fb_pre_enddate varchar(100), fb_pre_sim_beneficial float, fb_pre_sim_excited float, fb_pre_sim_nervous float, fb_pre_sim_relevant_prof float, fb_pre_sim_relevant_studies float, fb_pre_sim_txt_concerns varchar(100), fb_pre_sim_txt_fbk_purpose varchar(100), fb_pre_sim_txt_fbk_steps varchar(100), fb_pre_sim_txt_goals varchar(100), fb_pre_sim_txt_inference varchar(100), fb_pre_sim_txt_look_forward varchar(100), fb_pre_sim_txt_questions varchar(100), fb_pre_sim_txt_study_diverge1 varchar(100), fb_pre_sim_txt_study_diverge2 varchar(100), fb_pre_sim_txt_study_diverge3 varchar(100), fb_pre_sim_txt_study_exemplar1 varchar(100), fb_pre_sim_txt_study_exemplar2 varchar(100), fb_pre_sim_txt_study_exemplar3 varchar(100), fb_pre_sim_txt_study_feedback3 varchar(100), fb_pre_sim_txt_study_reader1 varchar(100), fb_pre_sim_txt_study_reader2 varchar(100), fb_pre_sim_txt_study_response1 varchar(100), fb_pre_sim_txt_study_response2 varchar(100), fb_pre_sim_txt_skill_purpose varchar(100), fb_pre_sim_txt_support_inf varchar(100), fb_pre_sim_used_before varchar(100), fb_pre_sim_useful_tool float, fb_pre_sim_worried_perform float, fb_pre_startdate varchar(100), haber_approach_to_students float, haber_at_risk_students float, haber_explain_stud_suc float, haber_explain_teach_suc float, haber_fallibility float, haber_org_and_plan float, haber_persistence float, haber_survive_in_bureaucracy float, haber_testdate varchar(100), haber_theory_to_practice float, haber_total float, haber_values_students_learning float,  PRIMARY KEY (id_participant) );'

In [86]:
cursor.execute(surv_query)

### Performance Measures

In [87]:
perf_column_list = ["id_participant"] + list(performance['Variable'])

In [88]:
performance_char = list(pd.DataFrame(performance[performance["Description"].isin(descriptions)])["Variable"]) + ["id_participant"]

In [89]:
perf_query = createTableQuery(perf_column_list, performance_char, "Performance_Measures", ["id_participant"])

In [90]:
perf_query

'CREATE TABLE Performance_Measures (id_participant varchar(100), br_base_affect float, br_base_b1ac float, br_base_b1ac_agree float, br_base_b1cu float, br_base_b1cu_agree float, br_base_b1oc float, br_base_b1oc_agree float, br_base_b1re varchar(100), br_base_b1re_agree float, br_base_b1sp float, br_base_b1sp_agree float, br_base_b1su float, br_base_b1su_agree float, br_base_b1ti float, br_base_b1ti_agree float, br_base_b2ac float, br_base_b2ac_agree float, br_base_b2cu float, br_base_b2cu_agree float, br_base_b2oc float, br_base_b2oc_agree float, br_base_b2re varchar(100), br_base_b2re_agree float, br_base_b2sp float, br_base_b2sp_agree float, br_base_b2su float, br_base_b2su_agree float, br_base_b2ti float, br_base_b2ti_agree float, br_base_b3ac float, br_base_b3ac_agree float, br_base_b3cu float, br_base_b3cu_agree float, br_base_b3oc float, br_base_b3oc_agree float, br_base_b3re varchar(100), br_base_b3re_agree float, br_base_b3sp float, br_base_b3sp_agree float, br_base_b3su float, br_base_b3su_agree float, br_base_b3ti float, br_base_b3ti_agree float, br_base_b4ac float, br_base_b4ac_agree float, br_base_b4cu float, br_base_b4cu_agree float, br_base_b4oc float, br_base_b4oc_agree float, br_base_b4re varchar(100), br_base_b4re_agree float, br_base_b4sp float, br_base_b4sp_agree float, br_base_b4su float, br_base_b4su_agree float, br_base_b4ti float, br_base_b4ti_agree float, br_base_b5ac float, br_base_b5ac_agree float, br_base_b5cu float, br_base_b5cu_agree float, br_base_b5oc float, br_base_b5oc_agree float, br_base_b5re varchar(100), br_base_b5re_agree float, br_base_b5sp float, br_base_b5sp_agree float, br_base_b5su float, br_base_b5su_agree float, br_base_b5ti float, br_base_b5ti_agree float, br_base_b6ac float, br_base_b6ac_agree float, br_base_b6cu float, br_base_b6cu_agree float, br_base_b6oc float, br_base_b6oc_agree float, br_base_b6re varchar(100), br_base_b6re_agree float, br_base_b6sp float, br_base_b6sp_agree float, br_base_b6su float, br_base_b6su_agree float, br_base_b6ti float, br_base_b6ti_agree float, br_base_cid varchar(100), br_base_cid2 varchar(100), br_base_dc float, br_base_descript varchar(100), br_base_quality float, br_base_quality_agree float, br_base_rationale float, br_base_rubric_affect float, br_base_rubric_dial float, br_base_rubric_engage float, br_base_rubric_norms float, br_base_rubric_spec float, br_base_rubric_suc float, br_base_tot_ac float, br_base_tot_ac_agree float, br_base_tot_cu float, br_base_tot_cu_agree float, br_base_tot_nb float, br_base_tot_nb_agree float, br_base_tot_oc float, br_base_tot_oc_agree float, br_base_tot_se float, br_base_tot_se_agree float, br_base_tot_sp float, br_base_tot_sp_agree float, br_base_tot_su float, br_base_tot_su_agree float, br_base_tot_ti float, br_base_tot_ti_agree float, br_base_vid float, br_exit_affect float, br_exit_b1ac float, br_exit_b1ac_agree float, br_exit_b1cu float, br_exit_b1cu_agree float, br_exit_b1oc float, br_exit_b1oc_agree float, br_exit_b1re varchar(100), br_exit_b1re_agree float, br_exit_b1sp float, br_exit_b1sp_agree float, br_exit_b1su float, br_exit_b1su_agree float, br_exit_b1ti float, br_exit_b1ti_agree float, br_exit_b2ac float, br_exit_b2ac_agree float, br_exit_b2cu float, br_exit_b2cu_agree float, br_exit_b2oc float, br_exit_b2oc_agree float, br_exit_b2re varchar(100), br_exit_b2re_agree float, br_exit_b2sp float, br_exit_b2sp_agree float, br_exit_b2su float, br_exit_b2su_agree float, br_exit_b2ti float, br_exit_b2ti_agree float, br_exit_b3ac float, br_exit_b3ac_agree float, br_exit_b3cu float, br_exit_b3cu_agree float, br_exit_b3oc float, br_exit_b3oc_agree float, br_exit_b3re varchar(100), br_exit_b3re_agree float, br_exit_b3sp float, br_exit_b3sp_agree float, br_exit_b3su float, br_exit_b3su_agree float, br_exit_b3ti float, br_exit_b3ti_agree float, br_exit_b4ac float, br_exit_b4ac_agree float, br_exit_b4cu float, br_exit_b4cu_agree float, br_exit_b4oc float, br_exit_b4oc_agree float, br_exit_b4re varchar(100), br_exit_b4re_agree float, br_exit_b4sp float, br_exit_b4sp_agree float, br_exit_b4su float, br_exit_b4su_agree float, br_exit_b4ti float, br_exit_b4ti_agree float, br_exit_b5ac float, br_exit_b5ac_agree float, br_exit_b5cu float, br_exit_b5cu_agree float, br_exit_b5oc float, br_exit_b5oc_agree float, br_exit_b5re varchar(100), br_exit_b5re_agree float, br_exit_b5sp float, br_exit_b5sp_agree float, br_exit_b5su float, br_exit_b5su_agree float, br_exit_b5ti float, br_exit_b5ti_agree float, br_exit_b6ac float, br_exit_b6ac_agree float, br_exit_b6cu float, br_exit_b6cu_agree float, br_exit_b6oc float, br_exit_b6oc_agree float, br_exit_b6re varchar(100), br_exit_b6re_agree float, br_exit_b6sp float, br_exit_b6sp_agree float, br_exit_b6su float, br_exit_b6su_agree float, br_exit_b6ti float, br_exit_b6ti_agree float, br_exit_cid varchar(100), br_exit_cid2 varchar(100), br_exit_dc float, br_exit_descript varchar(100), br_exit_quality float, br_exit_quality_agree float, br_exit_rationale float, br_exit_tot_ac float, br_exit_tot_ac_agree float, br_exit_tot_cu float, br_exit_tot_cu_agree float, br_exit_tot_nb float, br_exit_tot_nb_agree float, br_exit_tot_oc float, br_exit_tot_oc_agree float, br_exit_tot_se float, br_exit_tot_se_agree float, br_exit_tot_sp float, br_exit_tot_sp_agree float, br_exit_tot_su float, br_exit_tot_su_agree float, br_exit_tot_ti float, br_exit_tot_ti_agree float, br_exit_vid float, br_post_affect float, br_post_b1ac float, br_post_b1ac_agree float, br_post_b1cu float, br_post_b1cu_agree float, br_post_b1oc float, br_post_b1oc_agree float, br_post_b1re varchar(100), br_post_b1re_agree float, br_post_b1sp float, br_post_b1sp_agree float, br_post_b1su float, br_post_b1su_agree float, br_post_b1ti float, br_post_b1ti_agree float, br_post_b2ac float, br_post_b2ac_agree float, br_post_b2cu float, br_post_b2cu_agree float, br_post_b2oc float, br_post_b2oc_agree float, br_post_b2re varchar(100), br_post_b2re_agree float, br_post_b2sp float, br_post_b2sp_agree float, br_post_b2su float, br_post_b2su_agree float, br_post_b2ti float, br_post_b2ti_agree float, br_post_b3ac float, br_post_b3ac_agree float, br_post_b3cu float, br_post_b3cu_agree float, br_post_b3oc float, br_post_b3oc_agree float, br_post_b3re varchar(100), br_post_b3re_agree float, br_post_b3sp float, br_post_b3sp_agree float, br_post_b3su float, br_post_b3su_agree float, br_post_b3ti float, br_post_b3ti_agree float, br_post_b4ac float, br_post_b4ac_agree float, br_post_b4cu float, br_post_b4cu_agree float, br_post_b4oc float, br_post_b4oc_agree float, br_post_b4re varchar(100), br_post_b4re_agree float, br_post_b4sp float, br_post_b4sp_agree float, br_post_b4su float, br_post_b4su_agree float, br_post_b4ti float, br_post_b4ti_agree float, br_post_b5ac float, br_post_b5ac_agree float, br_post_b5cu float, br_post_b5cu_agree float, br_post_b5oc float, br_post_b5oc_agree float, br_post_b5re varchar(100), br_post_b5re_agree float, br_post_b5sp float, br_post_b5sp_agree float, br_post_b5su float, br_post_b5su_agree float, br_post_b5ti float, br_post_b5ti_agree float, br_post_b6ac float, br_post_b6ac_agree float, br_post_b6cu float, br_post_b6cu_agree float, br_post_b6oc float, br_post_b6oc_agree float, br_post_b6re varchar(100), br_post_b6re_agree float, br_post_b6sp float, br_post_b6sp_agree float, br_post_b6su float, br_post_b6su_agree float, br_post_b6ti float, br_post_b6ti_agree float, br_post_cid varchar(100), br_post_cid2 varchar(100), br_post_dc float, br_post_descript varchar(100), br_post_quality float, br_post_quality_agree float, br_post_rationale float, br_post_rubric_affect float, br_post_rubric_dial float, br_post_rubric_engage float, br_post_rubric_norms float, br_post_rubric_spec float, br_post_rubric_suc float, br_post_tot_ac float, br_post_tot_ac_agree float, br_post_tot_cu float, br_post_tot_cu_agree float, br_post_tot_nb float, br_post_tot_nb_agree float, br_post_tot_oc float, br_post_tot_oc_agree float, br_post_tot_se float, br_post_tot_se_agree float, br_post_tot_sp float, br_post_tot_sp_agree float, br_post_tot_su float, br_post_tot_su_agree float, br_post_tot_ti float, br_post_tot_ti_agree float, br_post_vid float, br_pre_affect float, br_pre_b1ac float, br_pre_b1ac_agree float, br_pre_b1cu float, br_pre_b1cu_agree float, br_pre_b1oc float, br_pre_b1oc_agree float, br_pre_b1re varchar(100), br_pre_b1re_agree float, br_pre_b1sp float, br_pre_b1sp_agree float, br_pre_b1su float, br_pre_b1su_agree float, br_pre_b1ti float, br_pre_b1ti_agree float, br_pre_b2ac float, br_pre_b2ac_agree float, br_pre_b2cu float, br_pre_b2cu_agree float, br_pre_b2oc float, br_pre_b2oc_agree float, br_pre_b2re varchar(100), br_pre_b2re_agree float, br_pre_b2sp float, br_pre_b2sp_agree float, br_pre_b2su float, br_pre_b2su_agree float, br_pre_b2ti float, br_pre_b2ti_agree float, br_pre_b3ac float, br_pre_b3ac_agree float, br_pre_b3cu float, br_pre_b3cu_agree float, br_pre_b3oc float, br_pre_b3oc_agree float, br_pre_b3re varchar(100), br_pre_b3re_agree float, br_pre_b3sp float, br_pre_b3sp_agree float, br_pre_b3su float, br_pre_b3su_agree float, br_pre_b3ti float, br_pre_b3ti_agree float, br_pre_b4ac float, br_pre_b4ac_agree float, br_pre_b4cu float, br_pre_b4cu_agree float, br_pre_b4oc float, br_pre_b4oc_agree float, br_pre_b4re varchar(100), br_pre_b4re_agree float, br_pre_b4sp float, br_pre_b4sp_agree float, br_pre_b4su float, br_pre_b4su_agree float, br_pre_b4ti float, br_pre_b4ti_agree float, br_pre_b5ac float, br_pre_b5ac_agree float, br_pre_b5cu float, br_pre_b5cu_agree float, br_pre_b5oc float, br_pre_b5oc_agree float, br_pre_b5re varchar(100), br_pre_b5re_agree float, br_pre_b5sp float, br_pre_b5sp_agree float, br_pre_b5su float, br_pre_b5su_agree float, br_pre_b5ti float, br_pre_b5ti_agree float, br_pre_b6ac float, br_pre_b6ac_agree float, br_pre_b6cu float, br_pre_b6cu_agree float, br_pre_b6oc float, br_pre_b6oc_agree float, br_pre_b6re varchar(100), br_pre_b6re_agree float, br_pre_b6sp float, br_pre_b6sp_agree float, br_pre_b6su float, br_pre_b6su_agree float, br_pre_b6ti float, br_pre_b6ti_agree float, br_pre_cid varchar(100), br_pre_cid2 varchar(100), br_pre_dc float, br_pre_descript varchar(100), br_pre_quality float, br_pre_quality_agree float, br_pre_rationale float, br_pre_rubric_affect float, br_pre_rubric_dial float, br_pre_rubric_engage float, br_pre_rubric_norms float, br_pre_rubric_spec float, br_pre_rubric_suc float, br_pre_tot_ac float, br_pre_tot_ac_agree float, br_pre_tot_cu float, br_pre_tot_cu_agree float, br_pre_tot_nb float, br_pre_tot_nb_agree float, br_pre_tot_oc float, br_pre_tot_oc_agree float, br_pre_tot_se float, br_pre_tot_se_agree float, br_pre_tot_sp float, br_pre_tot_sp_agree float, br_pre_tot_su float, br_pre_tot_su_agree float, br_pre_tot_ti float, br_pre_tot_ti_agree float, br_pre_vid float, fb_base_cid varchar(100), fb_base_cid2 varchar(100), fb_base_dc float, fb_base_f_desc float, fb_base_f_desc_agree float, fb_base_f_ntxt float, fb_base_f_ntxt_agree float, fb_base_f_perf float, fb_base_f_perf_agree float, fb_base_f_rest float, fb_base_f_rest_agree float, fb_base_f_txt float, fb_base_f_txt_agree float, fb_base_quality float, fb_base_quality_agree float, fb_base_tot_hit float, fb_base_tot_hit_agree float, fb_base_tot_oc float, fb_base_tot_oc_agree float, fb_base_vid float, fb_exit_cid varchar(100), fb_exit_cid2 varchar(100), fb_exit_dc float, fb_exit_f_desc float, fb_exit_f_desc_agree float, fb_exit_f_ntxt float, fb_exit_f_ntxt_agree float, fb_exit_f_perf float, fb_exit_f_perf_agree float, fb_exit_f_rest float, fb_exit_f_rest_agree float, fb_exit_f_txt float, fb_exit_f_txt_agree float, fb_exit_quality float, fb_exit_quality_agree float, fb_exit_tot_hit float, fb_exit_tot_hit_agree float, fb_exit_tot_oc float, fb_exit_tot_oc_agree float, fb_exit_vid float, fb_post_cid varchar(100), fb_post_cid2 varchar(100), fb_post_dc float, fb_post_f_desc float, fb_post_f_desc_agree float, fb_post_f_ntxt float, fb_post_f_ntxt_agree float, fb_post_f_perf float, fb_post_f_perf_agree float, fb_post_f_rest float, fb_post_f_rest_agree float, fb_post_f_txt float, fb_post_f_txt_agree float, fb_post_quality float, fb_post_quality_agree float, fb_post_tot_hit float, fb_post_tot_hit_agree float, fb_post_tot_oc float, fb_post_tot_oc_agree float, fb_post_vid float, fb_pre_cid varchar(100), fb_pre_cid2 varchar(100), fb_pre_dc float, fb_pre_f_desc float, fb_pre_f_desc_agree float, fb_pre_f_ntxt float, fb_pre_f_ntxt_agree float, fb_pre_f_perf float, fb_pre_f_perf_agree float, fb_pre_f_rest float, fb_pre_f_rest_agree float, fb_pre_f_txt float, fb_pre_f_txt_agree float, fb_pre_quality float, fb_pre_quality_agree float, fb_pre_tot_hit float, fb_pre_tot_hit_agree float, fb_pre_tot_oc float, fb_pre_tot_oc_agree float, fb_pre_vid float,  PRIMARY KEY (id_participant) );'

In [91]:
cursor.execute(perf_query)

### NLP Data (Fidelity Measures)

In [37]:
nlp_cols = ['doctype', 'filename', 'study', 'model', 'skill', 'coach', 'text', 'cleaned_vectorized_document', 'similarity_score']
nlp_char = ['doctype', 'filename', 'study', 'model', 'coach', 'text', 'cleaned_vectorized_document', 'similarity_score']

In [38]:
nlp_query = createTableQuery2(nlp_cols, nlp_char, ['text'], "Fidelity_Measures", ['filename'])

In [39]:
nlp_query

'CREATE TABLE Fidelity_Measures (doctype varchar(100), filename varchar(100), study varchar(100), model varchar(100), skill float, coach varchar(100), text varchar(10000), cleaned_vectorized_document varchar(100), similarity_score varchar(100),  PRIMARY KEY (filename) );'

In [42]:
cursor.execute(nlp_query)

In [41]:
cursor.execute("DROP TABLE Fidelity_Measures;")

## Testing

### Add Fake Data to Identifiers

In [94]:
data = pd.read_csv("id_data.csv")

In [95]:
data

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year
0,0,0,1,1,1,3,1,1784739,1,1,1,1718
1,1,0,1,0,3,3,1,672nhj89,3,1,3,1718
2,1,1,0,0,2,2,0,jdb3892,4,1,2,1819
3,1,0,0,1,2,1,1,8892jde33,2,1,3,1819
4,0,1,0,1,3,3,0,ehdo453,2,1,2,1920
5,0,0,1,0,1,1,0,djcsoa,3,1,4,1718
6,1,0,0,1,1,2,0,4628,4,1,5,1920
7,1,1,1,1,3,2,1,1_1819_2_67,1,1,6,1718

In [98]:
cols = ",".join([str(i) for i in data.columns.tolist()])

In [99]:
for i,row in data.iterrows():
    sql = "INSERT INTO Identifiers (" + cols + ") VALUES " + str(tuple(row)) + ";"
    cursor.execute(sql)

### Show Data in a Table

In [8]:
showTable("Identifiers", cursor)

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year
0,None,None,None,NaN,None,NaN,None,nameTest,1.0,None,None,NaN
1,None,None,None,NaN,None,NaN,None,test_data.csv,1.0,None,None,NaN
2,None,None,None,1.0,None,4.0,None,testID4,2.0,1,None,1718.0
3,None,None,None,0.0,None,5.0,None,testID5,1.0,1,None,2021.0
4,None,None,None,1.0,None,4.0,None,testID6,1.0,1,None,1718.0
5,None,None,None,0.0,None,5.0,None,testID7,2.0,1,None,2021.0

In [9]:
showTable("Survey_Measures", cursor)

,id_participant,base_app_dev_adjust,base_app_dev_challenge,base_app_dev_coach,base_app_dev_counselor,base_app_dev_discuss,base_app_dev_parconf,base_app_dev_plan,base_app_dev_referral,base_app_dev_request,...,haber_explain_stud_suc,haber_explain_teach_suc,haber_fallibility,haber_org_and_plan,haber_persistence,haber_survive_in_bureaucracy,haber_testdate,haber_theory_to_practice,haber_total,haber_values_students_learning
0,1_1819_1_1,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1_1819_1_10,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1_1819_1_13,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1_1819_1_14,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1_1819_1_16,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,1_1819_4_120,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
105,testID4,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
106,testID5,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
107,testID6,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
108,testID7,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [43]:
showTable("Fidelity_Measures", cursor)

Empty DataFrame
Columns: [doctype, filename, study, model, skill, coach, text, cleaned_vectorized_document, similarity_score]
Index: []

### Clear All Data from Table

In [6]:
cursor.execute("DELETE FROM Identifiers;")

In [7]:
showTable("Identifiers", cursor)

NameError: name 'showTable' is not defined

## Close Database Connection

In [44]:
cnx.commit()
cnx.close()