# Demo - View of Data in Database

In [14]:
import pandas as pd
import numpy as np

## Connect to Database

In [15]:
import mysql.connector

In [16]:
endpoint = "seratestdatabase.c4cjk1vto1om.us-east-2.rds.amazonaws.com"
port = "3306"
usr = "admin"
pswd = "seracapstone"
region = "us-east-2b"
dbname = "teachsim"

In [17]:
cnx = mysql.connector.connect(user=usr, password=pswd, host=endpoint, database=dbname)

In [18]:
cursor = cnx.cursor(buffered=True)

### Taylor's Second Database

In [3]:
endpoint = "sera-db-1.cfmjo2xhkjgh.us-east-1.rds.amazonaws.com"
port = "3306"
usr = "seraadmin"
pswd = "serapassword"
region = "us-east-2b"
dbname = "seradb"

In [4]:
cnx = mysql.connector.connect(user=usr, password=pswd, host=endpoint, database=dbname)

In [5]:
cursor = cnx.cursor(buffered=True)

## Functions

In [6]:
def showTable(tableName, cursor):
    query = "SELECT * FROM " + tableName + ";"
    cursor.execute(query)
    result = cursor.fetchall()
    colnames = [x[0] for x in cursor.description]
    df = pd.DataFrame(result, columns=colnames)
    return df

In [7]:
def clearData(tableNames, cursor):
    queries = []
    for table in tableNames:
        query = "DELETE FROM " + table + ";"
        queries = queries + [query]
    for query in queries:
        cursor.execute(query)

In [49]:
cursor.execute("REPLACE INTO Identifiers (id_participant) VALUES ('testID3');")

## View Tables

In [21]:
showTable("Identifiers", cursor)

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year
0,1.0,None,None,0.0,1.0,2.0,None,1_1718_1_108,1.0,None,None,1718.0
1,1.0,None,None,0.0,1.0,2.0,None,1_1718_1_11,1.0,None,None,1718.0
2,0.0,None,None,1.0,3.0,1.0,None,1_1718_1_117,1.0,None,None,1718.0
3,1.0,None,None,1.0,2.0,3.0,None,1_1718_1_12,1.0,None,None,1718.0
4,1.0,None,None,1.0,2.0,3.0,None,1_1718_1_122,1.0,None,None,1718.0
...,...,...,...,...,...,...,...,...,...,...,...,...
189,NaN,None,None,0.0,NaN,NaN,None,1_1819_4_113,4.0,1.0,None,1819.0
190,NaN,None,None,0.0,NaN,NaN,None,1_1819_4_114,4.0,1.0,None,1819.0
191,NaN,None,None,1.0,NaN,NaN,None,1_1819_4_115,4.0,1.0,None,1819.0
192,NaN,None,None,1.0,NaN,NaN,None,1_1819_4_118,4.0,1.0,None,1819.0
193,NaN,None,None,1.0,NaN,NaN,None,1_1819_4_120,4.0,1.0,None,1819.0

In [9]:
showTable("Participant_Tracker", cursor)

Empty DataFrame
Columns: [Participant_ID, Participant_Information_Survey, Baseline_Survey, Classroom_Norms_Post_Sim_Survey, Exit_Survey, Classroom_Norms_Coding_Baseline, Classroom_Norms_Coding_Precoach, Classroom_Norms_Coding_Postcoach, Classroom_Norms_Coding_Exit]
Index: []

In [20]:
showTable("Participant_Measures", cursor)

,id_participant,ccs_cohort,ccs_stutype,ccs_major,ccs_majother,ccs_gpa,partch,moedu,faedu,gender,...,crtse_25,crtse_27,crtse_28,crtse_30,crtse_31,crtse_33,crtse_35,crtse_36,crtse_41,crtse_total
0,1_1819_1_1,2017.0,2.0,10.0,0.0,3.455,2.0,4.0,5.0,2.0,...,70.0,70.0,90.0,90.0,70.0,90.0,70.0,70.0,75.0,69.6296
1,1_1819_1_10,2017.0,2.0,10.0,0.0,2.8,4.0,4.0,3.0,2.0,...,20.0,25.0,25.0,40.0,10.0,50.0,36.0,75.0,55.0,37.6296
2,1_1819_1_13,2017.0,2.0,10.0,0.0,3.7,4.0,4.0,3.0,1.0,...,23.0,48.0,49.0,32.0,36.0,61.0,58.0,56.0,65.0,55.2593
3,1_1819_1_16,2017.0,2.0,8.0,0.0,3.6,4.0,4.0,3.0,2.0,...,56.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,26.5926
4,1_1819_1_19,2017.0,2.0,10.0,0.0,3.86,1.0,4.0,1.0,2.0,...,58.0,73.0,88.0,49.0,17.0,72.0,65.0,79.0,91.0,61.4815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,1_1819_4_113,2018.0,1.0,4.0,0.0,3.48,4.0,3.0,4.0,2.0,...,35.0,75.0,65.0,40.0,35.0,70.0,60.0,50.0,70.0,60.1852
91,1_1819_4_114,2018.0,1.0,3.0,0.0,3.513,4.0,4.0,3.0,1.0,...,85.0,70.0,80.0,60.0,65.0,75.0,75.0,85.0,80.0,72.8148
92,1_1819_4_115,2018.0,1.0,8.0,0.0,3.635,4.0,3.0,3.0,1.0,...,80.0,55.0,80.0,85.0,55.0,70.0,65.0,80.0,60.0,69.4815
93,1_1819_4_118,2018.0,1.0,10.0,0.0,2.88,1.0,5.0,4.0,2.0,...,72.0,62.0,67.0,54.0,45.0,73.0,50.0,56.0,76.0,61.5926
94,1_1819_4_120,2018.0,1.0,4.0,0.0,3.2,4.0,5.0,5.0,2.0,...,1.0,90.0,87.0,37.0,35.0,100.0,100.0,84.0,89.0,74.2222

In [19]:
showTable("Survey_Measures", cursor)

,id_participant,base_app_dev_adjust,base_app_dev_challenge,base_app_dev_coach,base_app_dev_counselor,base_app_dev_discuss,base_app_dev_parconf,base_app_dev_plan,base_app_dev_referral,base_app_dev_request,...,haber_explain_stud_suc,haber_explain_teach_suc,haber_fallibility,haber_org_and_plan,haber_persistence,haber_survive_in_bureaucracy,haber_testdate,haber_theory_to_practice,haber_total,haber_values_students_learning
0,1_1718_1_108,7.0,5.0,7.0,4.0,6.0,1.0,2.0,NaN,3.0,...,2.0,2.0,1.0,1.0,3.0,1.0,10/22/2017,3.0,36.0,3.0
1,1_1718_1_11,2.0,9.0,2.0,2.0,1.0,4.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
2,1_1718_1_117,1.0,5.0,1.0,1.0,10.0,1.0,7.0,1.0,6.0,...,2.0,1.0,3.0,1.0,3.0,1.0,11/10/2017,3.0,44.0,3.0
3,1_1718_1_12,1.0,8.0,3.0,3.0,5.0,4.0,8.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
4,1_1718_1_122,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,1.0,2.0,1.0,2.0,1.0,10/29/2017,3.0,36.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,1_1718_4_84,5.0,5.0,1.0,1.0,5.0,7.0,5.0,1.0,1.0,...,2.0,1.0,1.0,1.0,3.0,1.0,10/24/2017,2.0,38.0,3.0
95,1_1718_4_86,8.0,7.0,7.0,2.0,5.0,4.0,10.0,NaN,3.0,...,1.0,3.0,2.0,1.0,3.0,1.0,11/9/2017,2.0,40.0,3.0
96,1_1718_4_89,3.0,7.0,5.0,2.0,4.0,1.0,2.0,1.0,3.0,...,2.0,3.0,1.0,1.0,3.0,1.0,10/30/2017,3.0,38.0,3.0
97,1_1718_4_94,2.0,3.0,2.0,1.0,4.0,3.0,1.0,1.0,2.0,...,2.0,1.0,1.0,1.0,3.0,3.0,10/22/2017,3.0,35.0,1.0
98,1_1718_4_95,1.0,8.0,7.0,6.0,10.0,8.0,10.0,3.0,7.0,...,2.0,2.0,1.0,1.0,2.0,1.0,11/12/2017,3.0,35.0,3.0

In [22]:
showTable("Performance_Measures", cursor)

,id_participant,br_base_affect,br_base_b1ac,br_base_b1ac_agree,br_base_b1cu,br_base_b1cu_agree,br_base_b1oc,br_base_b1oc_agree,br_base_b1re,br_base_b1re_agree,...,fb_pre_f_rest_agree,fb_pre_f_txt,fb_pre_f_txt_agree,fb_pre_quality,fb_pre_quality_agree,fb_pre_tot_hit,fb_pre_tot_hit_agree,fb_pre_tot_oc,fb_pre_tot_oc_agree,fb_pre_vid
0,1_1718_1_108,None,None,None,None,None,None,None,None,None,...,NaN,1.0,NaN,3.0,NaN,11.0,NaN,None,None,108.0
1,1_1718_1_11,None,None,None,None,None,None,None,None,None,...,NaN,2.0,NaN,3.0,NaN,10.0,NaN,None,None,11.0
2,1_1718_1_117,None,None,None,None,None,None,None,None,None,...,NaN,3.0,NaN,4.0,NaN,10.0,NaN,None,None,117.0
3,1_1718_1_12,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
4,1_1718_1_122,None,None,None,None,None,None,None,None,None,...,NaN,2.0,NaN,4.0,NaN,13.0,NaN,None,None,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,1_1718_4_84,None,None,None,None,None,None,None,None,None,...,NaN,6.0,NaN,5.0,NaN,20.0,NaN,None,None,84.0
95,1_1718_4_86,None,None,None,None,None,None,None,None,None,...,NaN,4.0,NaN,6.0,NaN,13.0,NaN,None,None,86.0
96,1_1718_4_89,None,None,None,None,None,None,None,None,None,...,NaN,0.0,NaN,4.0,NaN,16.0,NaN,None,None,89.0
97,1_1718_4_94,None,None,None,None,None,None,None,None,None,...,NaN,2.0,NaN,4.0,NaN,11.0,NaN,None,None,94.0
98,1_1718_4_95,None,None,None,None,None,None,None,None,None,...,NaN,4.0,NaN,4.0,NaN,15.0,NaN,None,None,95.0

## Clear Data from Tables

In [15]:
tables = ["Identifiers", "Participant_Tracker", "Participant_Measures", "Survey_Measures", "Performance_Measures"]

In [16]:
clearData(tables, cursor)

## Close Database Connection

In [23]:
cnx.commit()
cnx.close()