## 4_Merging Performance and Survey outcomes

In [20]:
import pandas as pd
import numpy as np

### 1. Input 2 outcomes data into dataframe

In [21]:
data1 = pd.read_stata("PerformanceOutcomes_Randomization_CPP_Merged.dta")
data2 = pd.read_stata("SurveyOutcomes_Randomization_CPP_Merged.dta")

In [22]:
data1.head()

,coach_name,email,name,sis_id,program,section,strata,rannum,temp,numofstudents,...,hsach_3,race_white,race_white_miss,hsses_miss,hsach_miss,partch_either,moedu_colab,faedu_colab,gender_female,gender_female_miss
0,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11,39,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11,39,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11,39,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11,39,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Emily,ac4ah@virginia.edu,"Copley,Abigail",ac4ah,elementary,Tuesday,Elem Tues,0.016961,1,36,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0

### 2. Update missing values in PerformanceOutcomes from SurveyOutcomes

In [23]:
data1.update(data2, overwrite=False)
data1

,coach_name,email,name,sis_id,program,section,strata,rannum,temp,numofstudents,...,hsach_3,race_white,race_white_miss,hsses_miss,hsach_miss,partch_either,moedu_colab,faedu_colab,gender_female,gender_female_miss
0,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11,39,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11,39,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11,39,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11,39,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Emily,ac4ah@virginia.edu,"Copley,Abigail",ac4ah,elementary,Tuesday,Elem Tues,0.016961,1,36,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,0.958017,33,33,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
367,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,0.958017,33,33,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
368,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15,33,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
369,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15,33,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
370,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15,33,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0

### 3. Merge two outcomes data

In [24]:
outcome_merged = pd.merge(data1, data2, on=['email', 'time'], how='outer')
outcome_merged = outcome_merged[:371]
outcome_merged

,coach_name_x,email,name_x,sis_id_x,program_x,section_x,strata_x,rannum_x,temp_x,numofstudents_x,...,hsach_3_y,race_white_y,race_white_miss_y,hsses_miss_y,hsach_miss_y,partch_either_y,moedu_colab_y,faedu_colab_y,gender_female_y,gender_female_miss_y
0,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11.0,39.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11.0,39.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Emily,ac4ah@virginia.edu,"Copley,Abigail",ac4ah,elementary,Tuesday,Elem Tues,0.016961,1.0,36.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,0.958017,33.0,33.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
367,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,0.958017,33.0,33.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
368,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15.0,33.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
369,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15.0,33.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0

### 4. Generating correct RA for baseline balance checks

In [25]:
# gen col coach_same
for i in range(len(outcome_merged)):
    outcome_merged.loc[i, "coach_same"] = [ 1 if outcome_merged.loc[i, "fall2018coachingra_x"] == 
                                           outcome_merged.loc[i, "spring2019coachingra_x"] else 0]

In [26]:
# gen col spring2019coachingra_correct
for i in range(len(outcome_merged)):
    if outcome_merged.loc[i, "fall2018coachingra_x"]==1 and outcome_merged.loc[i, "coach_same"]==1:
        outcome_merged.loc[i, "spring2019coachingra_correct"] = 1
    elif outcome_merged.loc[i, "fall2018coachingra_x"]==0 and outcome_merged.loc[i, "coach_same"]==1:
        outcome_merged.loc[i, "spring2019coachingra_correct"] = 0 
    elif outcome_merged.loc[i, "coach_same"]==0:
        outcome_merged.loc[i, "spring2019coachingra_correct"] = outcome_merged.loc[i, "spring2019coachingra_x"]

In [27]:
# gen col coach_correct_same     
for i in range(len(outcome_merged)):
        outcome_merged.loc[i, "coach_correct_same"] = [ 1 if outcome_merged.loc[i, "fall2018coachingra_x"] == 
                                                       outcome_merged.loc[i, "spring2019coachingra_correct"] else 0]

In [28]:
outcome_merged

,coach_name_x,email,name_x,sis_id_x,program_x,section_x,strata_x,rannum_x,temp_x,numofstudents_x,...,hsses_miss_y,hsach_miss_y,partch_either_y,moedu_colab_y,faedu_colab_y,gender_female_y,gender_female_miss_y,coach_same,spring2019coachingra_correct,coach_correct_same
0,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11.0,39.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.0
1,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11.0,39.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.0
2,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0
3,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,0.282820,11.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0
4,Emily,ac4ah@virginia.edu,"Copley,Abigail",ac4ah,elementary,Tuesday,Elem Tues,0.016961,1.0,36.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,0.958017,33.0,33.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.0
367,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,0.958017,33.0,33.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.0
368,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15.0,33.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,Coaching,0.0
369,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Coaching,0.0
370,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,0.450501,15.0,33.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,Coaching,0.0

### 5. Keeping necessary variables

In [29]:
cols = list(outcome_merged)
cols

['coach_name_x',
 'email',
 'name_x',
 'sis_id_x',
 'program_x',
 'section_x',
 'strata_x',
 'rannum_x',
 'temp_x',
 'numofstudents_x',
 'tr_n_x',
 'ra_x',
 'fall2018racera_x',
 'fall2018coachingnotes_x',
 'spring2019racera_x',
 'spring2019_coaching_recieved_x',
 'spring2019coachingra_x',
 'fall2018coachingra_x',
 'id_x',
 'vid',
 'cid',
 'sid',
 'startdate',
 'enddate',
 'status',
 'ipaddress',
 'progress',
 'durationinseconds',
 'finished',
 'recordeddate',
 'responseid',
 'recipientlastname_x',
 'recipientfirstname_x',
 'recipientemail',
 'externalreference',
 'locationlatitude',
 'locationlongitude',
 'distributionchannel',
 'userlanguage',
 'b1oc',
 'b2oc',
 'b3oc',
 'b4oc',
 'b5oc',
 'b6oc',
 'b1ac',
 'b2ac',
 'b3ac',
 'b4ac',
 'b5ac',
 'b6ac',
 'b1ti',
 'b2ti',
 'b3ti',
 'b4ti',
 'b5ti',
 'b6ti',
 'b1sp',
 'b2sp',
 'b3sp',
 'b4sp',
 'b5sp',
 'b6sp',
 'b1cu',
 'b2cu',
 'b3cu',
 'b4cu',
 'b5cu',
 'b6cu',
 'b1re',
 'b2re',
 'b3re',
 'b4re',
 'b5re',
 'b6re',
 'b1su',
 'b2su',
 'b3su',
 'b4su',
 'b5su',
 'b6su',
 'affect',
 'descript',
 'score',
 'rationale',
 'tot_oc',
 'tot_ac',
 'tot_sp',
 'tot_cu',
 'tot_nb',
 'tot_se',
 'tot_ti',
 'tot_su',
 'score_dc_avg',
 'prop_beh_ack',
 'ti_dc_avg',
 'prop_redirect',
 'su_dc_avg',
 'double_code',
 'time',
 'q25',
 'first_beh',
 'coder_num',
 'codingtype',
 'id_interactor',
 'id_coach',
 'student_x',
 'ytrt_total_x',
 'crtse_total_x',
 'das_depression_x',
 'das_anxiety_x',
 'das_stress_x',
 'ccs_gpa_x',
 'partch_x',
 'moedu_x',
 'faedu_x',
 'gender_x',
 'age_x',
 'race_x',
 'raceother_x',
 'holang_x',
 'holangother_x',
 'hstype_x',
 'hstypeother_x',
 'hsloc_x',
 'hsses_x',
 'hsrace_x',
 'hsach_x',
 'fit_total_x',
 'grit_total_x',
 'imts_total_x',
 'neo_n_x',
 'neo_e_x',
 'neo_o_x',
 'neo_a_x',
 'neo_c_x',
 'rsq_total_x',
 'tmas_total_x',
 'tses_se_x',
 'tses_is_x',
 'tses_cm_x',
 'tses_total_x',
 'age_21ab_x',
 'age_21ab_miss_x',
 'hsloc_1_x',
 'hsloc_2_x',
 'hsloc_3_x',
 'hsses_1_x',
 'hsses_2_x',
 'hsses_3_x',
 'hsrace_1_x',
 'hsrace_2_x',
 'hsrace_3_x',
 'hsach_1_x',
 'hsach_2_x',
 'hsach_3_x',
 'race_white_x',
 'race_white_miss_x',
 'hsses_miss_x',
 'hsach_miss_x',
 'partch_either_x',
 'moedu_colab_x',
 'faedu_colab_x',
 'gender_female_x',
 'gender_female_miss_x',
 'sim_fbsk',
 'sim_txt_fbsk',
 'sim_cmsk',
 'sim_txt_cmsk',
 'sim_txt_eth_behavior',
 'sim_txt_eth_contribute',
 'beh_fidgeting',
 'beh_humming',
 'beh_excitable',
 'beh_inattentive',
 'beh_short_attention',
 'beh_quarrelsome',
 'beh_acts_smart',
 'beh_unpredictable',
 'beh_defiant',
 'beh_uncooperative',
 'beh_easily_frustrated',
 'beh_disturbs_others',
 'beh_restless',
 'beh_mood_changes',
 'app_coach_stu',
 'app_adjust_expect',
 'app_guidance_couns',
 'app_rec_sped',
 'app_discp_refer',
 'app_confer_stu',
 'app_confer_parent',
 'app_behavior_plan',
 'app_challenge_work',
 'app_spend_time',
 'app_space_regroup',
 'app_beh_manage_coach',
 'app_beh_manage_teach',
 'sim_txt_supports',
 'sim_nervous',
 'sim_beneficial',
 'sim_worried_perform',
 'sim_useful_tool',
 'sim_relevant_studies',
 'sim_relevant_prof',
 'sim_like_use_again',
 'sim_recommend',
 'sim_sufficient_prep',
 'sim_enough_time',
 'sim_txt_beneficial',
 'sim_txt_improve_exp',
 'sim_txt_concerns',
 'beh_rating_opdefiant',
 'beh_rating_impulsive',
 'beh_rating',
 'app_coach_stu_rc',
 'app_adjust_expect_rc',
 'app_guidance_couns_rc',
 'app_rec_sped_rc',
 'app_discp_refer_rc',
 'app_confer_stu_rc',
 'app_confer_parent_rc',
 'app_behavior_plan_rc',
 'app_challenge_work_rc',
 'app_spend_time_rc',
 'app_space_regroup_rc',
 'app_beh_manage_coach_rc',
 'app_beh_manage_teach_rc',
 'manage_app_negative',
 'manage_app_positive',
 'q39',
 'q34',
 'q35_1',
 'q36_1',
 'q37',
 'q38',
 'coach_name_y',
 'name_y',
 'sis_id_y',
 'program_y',
 'section_y',
 'strata_y',
 'rannum_y',
 'temp_y',
 'numofstudents_y',
 'tr_n_y',
 'ra_y',
 'fall2018racera_y',
 'fall2018coachingnotes_y',
 'spring2019racera_y',
 'spring2019_coaching_recieved_y',
 'spring2019coachingra_y',
 'fall2018coachingra_y',
 'id_y',
 'student_y',
 'recipientlastname_y',
 'recipientfirstname_y',
 'ytrt_total_y',
 'crtse_total_y',
 'das_depression_y',
 'das_anxiety_y',
 'das_stress_y',
 'ccs_gpa_y',
 'partch_y',
 'moedu_y',
 'faedu_y',
 'gender_y',
 'age_y',
 'race_y',
 'raceother_y',
 'holang_y',
 'holangother_y',
 'hstype_y',
 'hstypeother_y',
 'hsloc_y',
 'hsses_y',
 'hsrace_y',
 'hsach_y',
 'fit_total_y',
 'grit_total_y',
 'imts_total_y',
 'neo_n_y',
 'neo_e_y',
 'neo_o_y',
 'neo_a_y',
 'neo_c_y',
 'rsq_total_y',
 'tmas_total_y',
 'tses_se_y',
 'tses_is_y',
 'tses_cm_y',
 'tses_total_y',
 'age_21ab_y',
 'age_21ab_miss_y',
 'hsloc_1_y',
 'hsloc_2_y',
 'hsloc_3_y',
 'hsses_1_y',
 'hsses_2_y',
 'hsses_3_y',
 'hsrace_1_y',
 'hsrace_2_y',
 'hsrace_3_y',
 'hsach_1_y',
 'hsach_2_y',
 'hsach_3_y',
 'race_white_y',
 'race_white_miss_y',
 'hsses_miss_y',
 'hsach_miss_y',
 'partch_either_y',
 'moedu_colab_y',
 'faedu_colab_y',
 'gender_female_y',
 'gender_female_miss_y',
 'coach_same',
 'spring2019coachingra_correct',
 'coach_correct_same']

In [30]:
variable_list = ["coach_name", "email", "name", "sis_id", "program", "section", "strata", "spring2019_coaching_recieved", 
                                        "spring2019coachingra", "spring2019coachingra_correct", "id", "score_dc_avg", "prop_beh_ack", 
                                        "ti_dc_avg", "prop_redirect", "su_dc_avg", "time", "beh_rating", "beh_rating_opdefiant", 
                                        "beh_rating_impulsive", "manage_app_negative", "manage_app_positive", "ccs_gpa", "partch_either", 
                                        "moedu_colab", "faedu_colab", "gender_female", "gender_female_miss", "age_21ab", "age_21ab_miss", 
                                        "race_white", "race_white_miss", "hsloc_1", "hsloc_2", "hsloc_3", "hsses_1", "hsses_2", "hsses_3", "hsrace_1", 
                                        "hsrace_2", "hsrace_3", "hsach_1", "hsach_2", "hsach_3", "id_coach", "id_interactor"]

variable_list_for_merged = ["coach_name_x", "email", "name_x", "sis_id_x", "program_x", "section_x", "strata_x", "spring2019_coaching_recieved_x", 
                                        "spring2019coachingra_x", "spring2019coachingra_correct", "id_x", "score_dc_avg", "prop_beh_ack", 
                                        "ti_dc_avg", "prop_redirect", "su_dc_avg", "time", "beh_rating", "beh_rating_opdefiant", 
                                        "beh_rating_impulsive", "manage_app_negative", "manage_app_positive", "ccs_gpa_y", "partch_either_y", 
                                        "moedu_colab_y", "faedu_colab_y", "gender_female_y", "gender_female_miss_y", "age_21ab_y", "age_21ab_miss_y", 
                                        "race_white_y", "race_white_miss_y", "hsloc_1_y", "hsloc_2_y", "hsloc_3_y", "hsses_1_y", "hsses_2_y", "hsses_3_y", "hsrace_1_y", 
                                        "hsrace_2_y", "hsrace_3_y", "hsach_1_y", "hsach_2_y", "hsach_3_y", "id_coach", "id_interactor"]

In [31]:
outcome_merged_sifted = outcome_merged[variable_list_for_merged]

### 6. Generate encoded section number

In [32]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

outcome_merged_sifted.loc[:,"section_x"] = outcome_merged_sifted["section_x"].astype("string")
outcome_merged_sifted.loc[:,"section_num"] = labelencoder.fit_transform(outcome_merged_sifted.loc[:,"section_x"])

C:\Users\ysjia\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\ysjia\Anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

### 7. Rename all columns with correct name

In [33]:
rename_map = {"coach_name_x":"coach_name",
              "name_x":"name",
              "sis_id_x":"sis_id",
              "program_x":"program",
              "section_x":"section",
              "strata_x":"strata",
              "spring2019_coaching_recieved_x":"spring2019_coaching_recieved", 
              "spring2019coachingra_x":"spring2019coachingra",
              "id_x":"id",
              "ccs_gpa_y":"ccs_gpa", 
              "partch_either_y":"partch_either", 
              "moedu_colab_y":"moedu_colab", 
              "faedu_colab_y":"faedu_colab", 
              "gender_female_y":"gender_female", 
              "gender_female_miss_y":"gender_female_miss", 
              "age_21ab_y":"age_21ab", 
              "age_21ab_miss_y":"age_21ab_miss", 
              "race_white_y":"race_white", 
              "race_white_miss_y":"race_white_miss", 
              "hsloc_1_y":"hsloc_1", 
              "hsloc_2_y":"hsloc_2", 
              "hsloc_3_y":"hsloc_3",
              "hsses_1_y":"hsses_1", 
              "hsses_2_y":"hsses_2", 
              "hsses_3_y":"hsses_3", 
              "hsrace_1_y":"hsrace_1", 
              "hsrace_2_y": "hsrace_2", 
              "hsrace_3_y":"hsrace_3", 
              "hsach_1_y":"hsach_1", 
              "hsach_2_y":"hsach_2", 
              "hsach_3_y":"hsach_3"}

In [34]:
outcome_merged_sifted = outcome_merged_sifted.rename(rename_map, axis=1)

### 8.  Generating variables with missing values

In [35]:
def colMissingVals(df, columnList):
    ''' Generate a binary column that indicates whether the given column has a missing value.
    Provide the dataframe and the column of interest. The output will be the dataframe with one 
    additional column named {columnName}_miss that has a 1 for missing values in columnName
    and a 0 for a non-missing value in columnName.
    '''
    for columnName in columnList:
        newcol = columnName + "_miss"   # create a missing column name
        for i in range(len(df)):
            df.loc[i, newcol] = [1 if pd.isnull(df.loc[i, columnName]) else 0]
    return df

In [36]:
missing_cols_list = ["ccs_gpa", "partch_either", "moedu_colab", "faedu_colab", "gender_female", "race_white", 
                     "age_21ab", "hsses_1", "hsses_2", "hsses_3", "hsrace_1", "hsrace_2", "hsrace_3", "hsach_1", 
                     "hsach_2", "hsach_3", "hsloc_1", "hsloc_2", "hsloc_3"]
colMissingVals(outcome_merged_sifted, missing_cols_list)

,coach_name,email,name,sis_id,program,section,strata,spring2019_coaching_recieved,spring2019coachingra,spring2019coachingra_correct,...,hsses_3_miss,hsrace_1_miss,hsrace_2_miss,hsrace_3_miss,hsach_1_miss,hsach_2_miss,hsach_3_miss,hsloc_1_miss,hsloc_2_miss,hsloc_3_miss
0,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,Self-reflection,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,Self-reflection,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,Emily,ac4ah@virginia.edu,"Copley,Abigail",ac4ah,elementary,Tuesday,Elem Tues,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
367,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
368,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,Coaching,Coaching,Coaching,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,Coaching,Coaching,Coaching,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
370,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,Coaching,Coaching,Coaching,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 9. Replacing missing covariate information

In [37]:
missing_cols_list_2 = ["age_21ab", "race_white", "hsses_1", "hsses_2", "hsses_3", "hsach_1", "hsach_2",
                       "hsach_3", "partch_either", "moedu_colab", "faedu_colab", "gender_female"]
for col in missing_cols_list_2:
    outcome_merged_sifted[col] = outcome_merged_sifted[col].fillna(0)

outcome_merged_sifted["gender_female_miss"] = outcome_merged_sifted["gender_female_miss"].fillna(1)

In [38]:
outcome_merged_sifted

,coach_name,email,name,sis_id,program,section,strata,spring2019_coaching_recieved,spring2019coachingra,spring2019coachingra_correct,...,hsses_3_miss,hsrace_1_miss,hsrace_2_miss,hsrace_3_miss,hsach_1_miss,hsach_2_miss,hsach_3_miss,hsloc_1_miss,hsloc_2_miss,hsloc_3_miss
0,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,Self-reflection,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,6,ab2dx@virginia.edu,"Basile,Anna",ab2dx,elementary,Monday,Elem Mon,Self-reflection,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,Emily,ac4ah@virginia.edu,"Copley,Abigail",ac4ah,elementary,Tuesday,Elem Tues,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
367,Bryan,yk5kb@virginia.edu,"Kim,Yewon",yk5kb,secondary,new,Sec New,Self-reflection,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
368,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,Coaching,Coaching,Coaching,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,Coaching,Coaching,Coaching,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
370,Emily,zrh3aq@virginia.edu,"Heard,Zora Ruby",zrh3aq,secondary,new,Sec New,Coaching,Coaching,Coaching,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0