# script of sql queries for user cases

In [2]:
import mysql.connector
# import pandas as pd
# import os
# import dotenv
# from sqlalchemy import create_engine
# os.chdir("/Users/15182/Documents/MSDS/MSDS_SERA_capstone") # change to the directory where your .env file is
# dotenv.load_dotenv() # register the .env file where passwords are stored
# mysqlpassword = os.getenv("mysqlpassword")

ModuleNotFoundError: No module named 'mysql'

In [1]:
!pwd

/Users/taylorrohrich/Desktop/Taylor Rohrich/Code/MSDS_SERA_capstone/API Gateway

In [2]:
#connect to database
seraDB = mysql.connector.connect(
    user='admin', 
    passwd=mysqlpassword, 
    host="seratestdatabase.c4cjk1vto1om.us-east-2.rds.amazonaws.com",
    database="teachsim"
)
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@seratestdatabase.c4cjk1vto1om.us-east-2.rds.amazonaws.com/{db}"
                      .format(user="admin", pw=mysqlpassword, db="teachsim"))

In [3]:
#define a function to convert the result of the query into a pandas table
def output_table(query):
    result=pd.read_sql_query(query, con=engine)
    return result

In [4]:
class MyValidationError(Exception):
    pass

# Must combine level 1 and level 3, rest of the levels are optional

## define a function to preprocess the time level by semester

In [5]:
def convert_semester(time_list):
    converted_list=[]
    for element in time_list:
        if element=="Fall 2017":
            converted_list.append(1)
        elif element=="Spring 2018":
            converted_list.append(2)
        elif element=="Fall 2018":
            converted_list.append(3)
        elif element=="Spring 2019":
            converted_list.append(4)     
        elif element=="Fall 2019":
            converted_list.append(5)
        elif element=="Spring 2020":
            converted_list.append(6)  
    return converted_list

## define a function to return the requested data

In [6]:
def request(time_list,measure_list,group_list=None,Specific_measure_list=None,field_type=None):
    query_all="""select """
    #handle exception if no level1 time parameter or no measure is provided
    #should raise error and print the error message later
    if len(time_list)==0:
        raise MyValidationError("At least one year/semester is required.")
    if len(measure_list)==0:
        raise MyValidationError("At least one measurement is required.")
        
    #return the rows according to time given
    #if user request data from all year
    time_list=[str(elem) for elem in time_list]
    time=" "
    
    if time_list[0]=="All":
        time=" "
    elif time_list[0].isdigit():
        time=time+"where id_year in ("
        time = time+",".join(map(str, time_list))
        time=time+')'
    else:
        time_list=convert_semester(time_list)
        time=time+"where id_study in ("
        time = time+",".join(map(str, time_list))
        time=time+')' 
        
    #return the table according to the measure requested
    measure_list=[elem.replace(" ","_") for elem in measure_list]
    tables="from "+measure_list[0]
    # if a combinition of measure is requested
    if len(measure_list)>1:
        for measure in measure_list[1:]:
            tables=tables+" join "+measure+" on "+measure_list[0]+".id_participant="+measure+".id_participant "
    #handle if user provide level2
    #suppose that the first variable in the list represent which group that users want to search
    if group_list==None:
        pass
    else:
        column_name=group_list[0]
        group=column_name+" in ("
        group=group+",".join(map(str,group_list[1:]))
        group=group+")"
        time=time+" AND "+group
    
    #handle if user provide level4
    if Specific_measure_list==None:
        query_all=query_all+"* "
        
    else:
        specific_measure = ",".join(map(str, Specific_measure_list))
        query_all=query_all+specific_measure+" "
    
    #handle if user provide level5
    df=pd.DataFrame()
    for elem in measure_list:
        df=df.append(output_table("SELECT column_name, data_type FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '"+elem+"'"),ignore_index=True)
    if field_type==None:
        pass
    elif field_type=="Numeric":
        Numeric_cols=",".join(map(str, df[df["DATA_TYPE"]!=b'varchar']["COLUMN_NAME"].to_list()))
        query_all="SELECT "+Numeric_cols+" "
        
    elif field_type=="Text":
        text= df[df["DATA_TYPE"]==b'varchar']["COLUMN_NAME"].to_list()
        text=list(set(text))
        text=["Identifiers.id_participant" if x=="id_participant" else x for x in text]
        Text_cols=",".join(map(str, text))
        query_all="SELECT "+Text_cols+" "
        
    query_all=query_all+tables+time
    
    print(query_all)
    return output_table(query_all)

In [7]:
request(["All"],["Identifiers","Performance Measures"],None,None,"Text")

SELECT br_pre_b3re,br_exit_b6re,br_post_b2re,br_pre_descript,fb_exit_cid2,br_pre_b1re,br_exit_b1re,br_pre_b5re,br_post_b3re,fb_pre_cid2,br_pre_b4re,br_exit_b3re,br_base_b2re,fb_base_cid,fb_exit_cid,br_post_b6re,Identifiers.id_participant,br_base_cid2,br_pre_b2re,br_base_b5re,fb_base_cid2,br_exit_descript,br_base_b3re,id_site,br_pre_cid2,br_post_cid2,br_pre_cid,fb_post_cid2,br_base_cid,br_exit_cid2,br_base_b6re,br_exit_cid,br_base_descript,br_exit_b4re,br_post_b1re,br_base_b1re,br_post_descript,br_exit_b5re,br_base_b4re,fb_pre_cid,br_post_cid,fb_post_cid,br_post_b5re,br_exit_b2re,br_pre_b6re,br_post_b4re from Identifiers join Performance_Measures on Identifiers.id_participant=Performance_Measures.id_participant

,br_pre_b3re,br_exit_b6re,br_post_b2re,br_pre_descript,fb_exit_cid2,br_pre_b1re,br_exit_b1re,br_pre_b5re,br_post_b3re,fb_pre_cid2,...,br_post_descript,br_exit_b5re,br_base_b4re,fb_pre_cid,br_post_cid,fb_post_cid,br_post_b5re,br_exit_b2re,br_pre_b6re,br_post_b4re
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
101,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
102,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
103,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
104,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [8]:
request(["Fall 2018","Spring 2019"],["Identifiers"])

select * from Identifiers where id_study in (3,4)

Empty DataFrame
Columns: [br_treat_cond, br_treat_cond_mr, br_treat_cond_iat, fb_treat_cond, f17_treat_cond, s18_treat_cond, fb_treat_cond_iat, id_participant, id_section, id_site, id_study, id_year]
Index: []

In [9]:
a=request(["1718","1819"],["Identifiers"],None,["id_participant"])
a

select id_participant from Identifiers where id_year in (1718,1819)

    id_participant
0       1_1819_1_1
1      1_1819_1_10
2      1_1819_1_13
3      1_1819_1_14
4      1_1819_1_16
..             ...
100   1_1819_4_114
101   1_1819_4_115
102   1_1819_4_116
103   1_1819_4_118
104   1_1819_4_120

[105 rows x 1 columns]

In [10]:
request(["All"],["Identifiers"])

select * from Identifiers

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,id_study,id_year
0,None,None,None,0,None,None,None,1_1819_1_1,1,1.0,None,1819
1,None,None,None,0,None,None,None,1_1819_1_10,1,1.0,None,1819
2,None,None,None,1,None,None,None,1_1819_1_13,1,1.0,None,1819
3,None,None,None,1,None,None,None,1_1819_1_14,1,1.0,None,1819
4,None,None,None,0,None,None,None,1_1819_1_16,1,1.0,None,1819
...,...,...,...,...,...,...,...,...,...,...,...,...
100,None,None,None,0,None,None,None,1_1819_4_114,4,1.0,None,1819
101,None,None,None,1,None,None,None,1_1819_4_115,4,1.0,None,1819
102,None,None,None,0,None,None,None,1_1819_4_116,4,1.0,None,1819
103,None,None,None,1,None,None,None,1_1819_4_118,4,1.0,None,1819
104,None,None,None,1,None,None,None,1_1819_4_120,4,1.0,None,1819

In [11]:
request(["All"],["Identifiers","Performance Measures"]).to_json()

select * from Identifiers join Performance_Measures on Identifiers.id_participant=Performance_Measures.id_participant

,br_treat_cond,br_treat_cond_mr,br_treat_cond_iat,fb_treat_cond,f17_treat_cond,s18_treat_cond,fb_treat_cond_iat,id_participant,id_section,id_site,...,fb_pre_f_rest_agree,fb_pre_f_txt,fb_pre_f_txt_agree,fb_pre_quality,fb_pre_quality_agree,fb_pre_tot_hit,fb_pre_tot_hit_agree,fb_pre_tot_oc,fb_pre_tot_oc_agree,fb_pre_vid
0,None,None,None,0,None,None,None,1_1819_1_1,1,1.0,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,0,None,None,None,1_1819_1_10,1,1.0,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,1,None,None,None,1_1819_1_13,1,1.0,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,1,None,None,None,1_1819_1_14,1,1.0,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,0,None,None,None,1_1819_1_16,1,1.0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,None,None,None,0,None,None,None,1_1819_4_114,4,1.0,...,None,None,None,None,None,None,None,None,None,None
101,None,None,None,1,None,None,None,1_1819_4_115,4,1.0,...,None,None,None,None,None,None,None,None,None,None
102,None,None,None,0,None,None,None,1_1819_4_116,4,1.0,...,None,None,None,None,None,None,None,None,None,None
103,None,None,None,1,None,None,None,1_1819_4_118,4,1.0,...,None,None,None,None,None,None,None,None,None,None
104,None,None,None,1,None,None,None,1_1819_4_120,4,1.0,...,None,None,None,None,None,None,None,None,None,None

In [12]:
request(["All"],["Identifiers","Performance Measures"],None,["br_treat_cond","br_treat_cond_mr"])

select br_treat_cond,br_treat_cond_mr from Identifiers join Performance_Measures on Identifiers.id_participant=Performance_Measures.id_participant

    br_treat_cond br_treat_cond_mr
0            None             None
1            None             None
2            None             None
3            None             None
4            None             None
..            ...              ...
100          None             None
101          None             None
102          None             None
103          None             None
104          None             None

[105 rows x 2 columns]

In [13]:
seraDB.close()